::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em
}
::-webkit-scrollbar-button {
  background: #00EEFF
}
::-webkit-scrollbar-track-piece {
  background: #00646B 
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
 
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}